table{
    border: 1px solid black;
    margin: 0 auto;
    width: 70%;
}

table td, table tr{
    border: 1px solid red;
}

table thead{
    background: yellow;
}


table thead td{
    padding: 10px;
}